---
import CodeIcon from '@/assets/icons/codeIcon.astro';
import CopySnippet from './CopySnippet.astro';

interface Props {
    title: string;
    snippetContent: string;
	delay: number;
	blocks: Record<string, any>[];
}   

const {title, snippetContent, blocks, delay } = Astro.props; 

---

<span 
	class={`section-component-${title} animate-fade-in-down animate-delay-[${delay}ms] bg-gradient-to-br w-full
	 from-zinc-700 via-black to-zinc-700 p-0.5 rounded-2xl transition-all duration-300 `}
	>
	<section class="flex flex-col bg-zinc-900/95 p-4 rounded-2xl">
		<header class="flex flex-col gap-2 mb-5 max-w-sm mx-auto ">
			<h2 class="text-2xl text-white font-bold text-center border-b border-slate-700 pb-2">{title}</h2>
			<CopySnippet content={snippetContent}/>
		</header>
		<section class="blocks-container z-20 flex flex-col max-h-96 overflow-hidden overflow-y-auto py-12  [mask-image:linear-gradient(to_bottom,transparent,black_20%,black_80%,transparent)] [--webkit-mask-image:linear-gradient(to_bottom,transparent,black_20%,black_80%,transparent)]">
			{blocks.map(block => (
				<article class=" mb-8 px-10">
					<header class="relative flex gap-2 items-center border-b border-slate-700 mb-2">
						<h3 class="text-lg text-gray-300">{block.title}</h3>
						<div class="absolute right-5">
							<button data-modal-target={`modal-component-${block.id}`} class="cursor-pointer flex gap-2 items-center text-gray-300 hover:bg-slate-600/50 px-2 rounded-full hover:text-white transition-all duration-300"><CodeIcon class="size-4"/><span class="md:hidden lg:flex">Code</span></button>
						</div>
					</header>
					<footer class="border-b border-slate-700">
					<div class=" relative py-4 flex gap-4 justify-center mb-2 px-4 ">

					<block.component/>

					<div class=" -z-10 absolute inset-0 bg-white dark:bg-gray-950/10 overflow-hidden [mask-image:linear-gradient(to_left,transparent,black_20%,black_80%,transparent)] [--webkit-mask-image:linear-gradient(to_right,transparent,black_20%,black_80%,transparent)]">
						<div class="absolute inset-0 opacity-5 dark:opacity-10">
							<svg width="100%" height="100%">
							<pattern id="grid-finance" x="0" y="0" width="40" height="40" patternUnits="userSpaceOnUse">
								<path
								d="M 40 0 L 0 0 0 40"
								fill="none"
								stroke="currentColor"
								stroke-width="1"
								class="text-gray-500 dark:text-gray-400"
								/>
							</pattern>
							<rect width="100%" height="100%" fill="url(#grid-finance)" />
							</svg>
						</div>
					</div>
					</div>
					</footer>
				</article>
					))}
		</section>
	</section>
</span>